<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">Director: {{director}}</p>
        <p class="card-text">Year: {{year}}</p>
        <p class="card-text">Duration: {{duration}}</p>
        <p class="card-text">Genre: {{genre}}</p>
        <p class="card-text">Rate: {{rate}}</p>
    </div>
</div>
<a href="/" class="btn btn-primary">Go back</a>
<a href="/{{_id}}/edit" class="btn btn-primary">Edit</a>